job-orchestra==1.1.4
matplotlib==3.9.2
numpy>=2
pandas>=2
plotly>=5
sqlalchemy>=2.0.37
tqdm
jupyter>=1.1.1
fastjsonschema
scikit-learn>=1.5.1
inflect>=6.2.0
kaleido==0.2.1
pyarrow>=17.0.0
pathvalidate
openpyxl
sktime==0.37.0
xlsxwriter>=3.2.0
miniFasta>=3.0.3
xlrd